<div id="project-confirmation-header">
    <h2>{{ get_title }}</h2>
</div>

<div id="project-confirmation-content">
    <p>
        Your project creation request has been sent.
    </p>
    <p>
        Your project has been submitted to the OpenForge administrators for approval, which will be notified to you by email.<i class="icon-envelope-alt"></i>
    </p>
</div>

<div id="project-confirmation-thanks">
    Thank you for using OpenForge.
</div>

<div id="project-confirmation-redirect">
    <a href="{{ get_redirect_url }}" name="personal_page" class="btn btn-large btn-primary" role="button">{{ get_redirect_content }}</a>
</div>