<div id="account_details">
    <h3 class="account-title"><i class="icon-key"></i> {{ authentication_attempts_title }}</h3>

    <table>
        <tr>
            <td class="user-info-label table-label">{{ last_successful_login_label }}</td>
            <td>{{ last_successful_login_value }}</td>
        </tr>
    </table>
</div>
