<section class="homepage-head-cta {{# display_homepage_news }}with-news{{/ display_homepage_news }}">
    <div class="head">
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <div class=" col-sm-12 col-md-12 col-lg-12">
						<div class="bannertitle topped"> Welcome to OpenForge </div>
						<div class="bannertextline1"> A platform for open collaborative software </div>
						<div class="bannertextline1"> development of e-governance applications</div>
							<div class="bannertextline2"><a class="btn btn-default btn-lg joinus" href="/account/register.php">Join OpenForge</a></div>
					</div>
                </div>
            </div>
        </div>
    </div>    
    <div class="container">
              <div class="row">
        <div class="col-md-12 col-sm-12 ">
                  <div class="slogan">Build modern, best in class software together</div>
                </div>
        <div class="col-lg-12 ">
                  <div class="row">
            <div class="col-md-3 col-sm-2 hide480"></div>
            <div class="col-md-12 col-sm-12">
				<div class="row">
                  	<div class="col-lg-4 col-md-4 col-xs-12">
                		<img alt="standard" class="imgbg pullLeft" src="/themes/FlamingParrot/images/reuse.png">
                    	<h4>Reuse</h4>
                    	<p>Why reinvent the wheel, when you can reuse, remix and build on top of others - all in the spirit of open sharing</p>
                	</div>        
                	<div class="col-lg-4 col-md-4 col-xs-12">
                		<img alt="standard" class="imgbg2 pullLeft" src="/themes/FlamingParrot/images/fasterdelivery.png">
                    	<h4>Faster Delivery</h4>
                        <p>Accelerated pace of application development due to sharing and reuse of source code results in faster project deliveries</p>
                	</div>
                	<div class="col-lg-4 col-md-4 col-xs-12">
                		<img alt="standard" class="imgbg3 pullLeft" src="/themes/FlamingParrot/images/standradization.png">
                    	<h4>Standardization</h4>
                        <p>Reuse leads to uniformity in application development, reduced fragmentation and improved interoperability</p>
                	</div>
              	</div>
                <div class="row">
                	<div class="col-lg-4 col-md-4 col-xs-12">
                		<img alt="standard" class="imgbg4 pullLeft" src="/themes/FlamingParrot/images/innovation.png">
                        <h4>Innovation</h4>
                        <p>Transparency and openness gives birth to new ideas and sparks collaborative creativity in eGov solutions</p>
                    </div>
                	<div class="col-lg-4 col-md-4 col-xs-12">
                    	<img alt="standard" class="imgbg5 pullLeft" src="/themes/FlamingParrot/images/qualityimprovement.png">
                        <h4>High quality</h4>
                        <p>Community collaboration leads to continuous improvements resulting in higher quality applications</p>
                    </div>
                	<div class="col-lg-4 col-md-4 col-xs-12">
                    	<img alt="standard" class="imgbg6 pullLeft" src="/themes/FlamingParrot/images/costsaving.png">
                        <h4>Cost Saving</h4>
                        <p>Reduced costs in development and implementation of eGov applications</p>
                    </div>
              </div>
                    </div>
          </div>
                </div>
      </div>
            </div>
			
			
	<div class="section footerback">
	  <div class="container">
	  <div class="row">
		  <div class="col-md-12 col-sm-12 text-center">
			<div class="in-press press-wired"> <a href="javascript:void(0);"></a> </div>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-4 col-sm-6">
			<div class="service-wrapper sharing_tools"><img alt="Service 3" src="/themes/FlamingParrot/images/footer_icon3.png">
			  <h3>Information Sharing Tools</h3>
			  <p>Application Life Cycle Management, Source Code Management, Version Control, Shared "Code Snippets". </p>
			  <!--<a href="http://git-scm.com/" class="btn" target="_blank">Go to Site</a>--> 
			</div>
		  </div>
		  <div class="col-md-4 col-sm-6">
			<div class="service-wrapper"><img alt="Service 2" src="/themes/FlamingParrot/images/footer_icon2.png">
			  <h3>Tracking Tools</h3>
			  <p>Release Management, Bug Tracking, Task and Project Management Tools, User Management</p>
			  <!--<a href="#" class="btn">Read more</a>--> 
			</div>
		  </div>
		  <div class="col-md-4 col-sm-6">
			<div class="service-wrapper"> <img alt="Service 1" src="/themes/FlamingParrot/images/footer_icon1.png">
			  <h3>Communication Tools</h3>
			  <p>Discussion Forums, Mailing Lists, Project Wiki, Document Manager</p>
			  <!--<a href="#" class="btn">Read more</a>--> 
			</div>
		  </div>
		</div>
	  </div>
	</div>		
</section>

