                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="col-md-12 col-sm-12 col-xs-12 bgfooter">

    <div class="container">
        
      		<div class="row">
    
    	<div class="col-md-6 col-sm-6 ftrgap fl">
      	
                <ul class="ftrlists">
          				<li>&nbsp;<a href="/about.php" class="whitetext">About</a> | </li>
          				<li>&nbsp;<a href="/Terms_of_Use.php" class="whitetext">Terms of service</a> | </li>
          				<li>&nbsp;<a href="/faq.php" class="whitetext">FAQs</a> | </li>
          				<li>&nbsp;<a href="/privacypolicy.php" class="whitetext">Code of conduct</a> | </li>
          				<li>&nbsp;<a class="whitetext" href="/resourcecenter.php">Resource Center</a> | </li> 
          				<li>&nbsp;<a href="/contactus.php" class="whitetext">Contact us</a></li>
        		</ul>
        
        		<div class="securityfoot">
          			<ul class="ftrlists">
           				<li>&nbsp;<a class="links hvr-grow" target="_blank" href="https://www.facebook.com/OfficialDigiLocker"><img height="40" width="40" src="/themes/FlamingParrot/images/facebook.png"></a> &nbsp; </li>
          				<li>&nbsp;<a class="links hvr-grow" target="_blank" href="https://twitter.com/digilocker_ind"><img height="40" width="40" src="/themes/FlamingParrot/images/twitter.png"></a> &nbsp; </li>
          				<li>&nbsp;<a class="links hvr-grow" target="_blank" href="https://plus.google.com/111850842069869647595/about?hl=en"><img height="40" width="40" src="/themes/FlamingParrot/images/googleplus.png"></a> &nbsp; </li>
                		<li>&nbsp;<a class="links hvr-grow" target="_blank" href="https://www.youtube.com/channel/UCHVbXM4OexDUKyGBtdvmfmg"><img height="40" width="40" src="/themes/FlamingParrot/images/youtube.png"> </a>&nbsp; </li>
          		
        			</ul>
        		</div>
         
       	  		<div class="securityfoot">
          			<ul class="ftrlists">
          <li>&nbsp;<a onclick="window.open('https://trustsealinfo.websecurity.norton.com/splash?form_file=fdf/splash.fdf&amp;dn=digilocker.gov.in&amp;lang=en','popup','width=570,height=500'); return false;" target="popup" href="https://trustsealinfo.websecurity.norton.com/splash?form_file=fdf/splash.fdf&amp;dn=digilocker.gov.in&amp;lang=en">
    <img height="56px" width="80px" src="/themes/FlamingParrot/images/getseal.png"></a> &nbsp; </li>
          		<li>&nbsp;<img height="43px" width="90px" src="/themes/FlamingParrot/images/256sll.png">&nbsp; </li>
        </ul> 
        		</div>
 			</div> 
     
    	<div class="col-md-6 col-sm-6 ftrgap fr">
        
        	<div>     
        	<p style="color:#CCC; text-align:right; float:right;">
        	<img height="45" width="117" src="/themes/FlamingParrot/images/negd-logo.png"><br>
        	National eGovernance Division <br>
			Department of Electronics &amp; Information Technology (DeitY) <br>
        	Ministry of Communications &amp; IT, Government of India<br>
        	Copyright @2015</p>
        	</div>
    	
        </div>
    	
        </div>
        
    </div>

</div>
        </footer>
    </div>
</div>