<ul id="dropdown-user-navigation" class="dropdown-menu">
        <li><a href="/account/">{{ my_index_text }}</a></li>
    <li class="divider"></li>
    <li><a href="/account/logout.php">{{ include_menu_text }}</a></li>
</ul>