<select id="timezone" name="timezone" data-placeholder="{{ placeholder }}" >
    {{^ has_one_selected }}
        <option></option>
    {{/ has_one_selected }}
        <option value="Asia/Calcutta"> Asia/Calcutta </option>
</select>